.app.dark {
  --bg-color: #2b2b2b;

  --inverted-bg-color: #c4c2c2;
  --primary-color: #196c49;
  --secondary-color: #27a570;

  --inverted-primary-color: hsla(225, 68%, 53%, 0.3);
  --inverted-secondary-color: hsl(225, 68%, 53%);;
}