.app.light {
  --bg-color: #c4c2c2;
  --inverted-bg-color: #2b2b2b;
  --primary-color: hsla(225, 68%, 53%, 0.3);
  --secondary-color: hsl(225, 68%, 53%);

  --inverted-primary-color: #27a570;
  --inverted-secondary-color: #196c49;
}